<h5> The Given Image is classified by the CNN as below. </h5>

<%= form_for @changeset, topic_path(@conn, :startindex), fn f -> %>

 <div class="form-group">
    
    <h3> Given Image is a <font color="red">  <%= @predictedAs %> </font> with a probaility of <font color="red"> <%= @predictionProb %> </font>
  </div>

  <div class="form-group">
    <%= submit "Try Another One??", class: "btn btn-primary" %>
  </div>
<% end %>